# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
training.log

# MLflow artifacts (if logging locally)
mlruns/

# Environment files
.env
.env.*

# Python virtualenv
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/

# MacOS system files
.DS_Store

# Model results
*.json
*.csv
model_comparison_results.*

# Output models
*.pkl
*.joblib

# Docker
*.bak
docker-compose.override.yml

# Test / temp files
tmp/
temp/
*.tmp
*.bak